.positionOfButton {

    margin-top: 40px;
    margin-left: 98px;
}

.traffic-light {
    margin-top: 40px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 40%;
}

.traffic-light_red {
    background-color: red;
}
.traffic-light_yellow {
    background-color: yellowgreen;
}
.traffic-light_green {
    background-color: green;
}